.slider {
	width: 100vw;
	height: 500px;
	overflow: hidden;
}

.slider2 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300vw;
	height: 500px;
	animation-duration: 10s;
	animation-name: slidein;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.slide1 {
	flex-basis: 100vw;
	background: red;
	height: 500px;
}

.slide2 {
	flex-basis: 100vw;
	background: blue;
	height: 500px;
}

.slide3 {
	flex-basis: 100vw;
	background: green;
	height: 500px;
}

@keyframes slidein {
  
  0% {
    margin-left: -0vw;
  }

  50% {
    margin-left: -100vw;
  }

  100% {
    margin-left: -200vw;
  }
}